[Unit]
Description=com.teragrep.rlp_11
ConditionPathExists=/opt/teragrep/rlp_11/etc/rlp_11.properties
ConditionPathExists=/opt/teragrep/rlp_11/etc/log4j2.xml

[Service]
ExecStart=/usr/lib/jvm/jre-11-openjdk/bin/java \
    -DconfigurationPath=/opt/teragrep/rlp_11/etc/rlp_11.properties \
    -Dlog4j2.configurationFile=file:/opt/teragrep/rlp_11/etc/log4j2.xml \
    -jar /opt/teragrep/rlp_11/lib/rlp_11.jar
User=srv-rlp_11
WorkingDirectory=/opt/teragrep/rlp_11

[Install]
WantedBy=multi-user.target
